<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items Home</title>
</head>
<body>
    <h1>Items</h1>
    <h2>items currently in db: {{ count }}</h2>

    <div>
        <a href="/api/item/"><button>Show Items</button></a>
        <a href="/api/item/update/1/"><button>Update Items</button></a>
        <a href="/api/item/delete_last"><button>Delete Last Item</button></a>
    </div>
</body>
</html>