<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
</head>
<body>
    <h1>Update Item</h1>
    <form method="post" action="/api/item/update/{{ pk }}/">
        <label for="index">Index: </label>
        <input type="text" id="index" name="name" value="{{ pk }}">
        <script>
            document.getElementById('index').addEventListener('change', function() {
                var originalPk = "{{ pk }}";
                var newPk = this.value.trim();
    
                if (newPk !== originalPk) {
                    if (confirm('The index has changed. Do you want to navigate to the new page?')) {
                        window.location.href = '/api/item/update/' + newPk + '/';
                    }
                }
            });
        </script>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ item.name }}">
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ item.description }}">
        <br>
        <button type="submit">Update</button>
    </form>
    <br><br>
    <a href="/api/item/home"><Button>Home</Button></a>
</body>
</html>
